#Frontend ignores
client/node_modules
client/build
client/.env

#Backend ignores
server/env
**.DS_Store*
**.pyc
**/migrations/*.py

# Ignore all static files
server/static/*

# Except images
!server/static/images/
!server/static/images/**

# Optional: still ignore unwanted hidden files
server/static/.*

server/.secrets
docs/cache.txt
docs/overhaul_notes
server/family.json
server/startTest.json
server/media/pdfs/*