<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>UCI ICTS' Kauro Chatbot Invitation</title>
</head>
<body style="font-family: Montserrat, sans-serif; color: #1b3d6d; background-color: #f9f9f9; padding: 20px;">
  <div style="max-width: 600px; margin: auto; background-color: #ffffff; border: 1px solid #ddd; padding: 30px;">
    <h2 style="color:#255799;">
      Thank you for your interest in enrolling in our research study
    </h2>
    <p>
      Dear {{ first_name }} {{ last_name }},
    </p>
    <p>Thank you for your interest in enrolling in our research study, 
      <a href="https://gregorconsortium.org/learning/research-participation", _target="blank">The GREGoR Consortium (Genomics Research to Elucidate the Genetics of Rare diseases)</a>,
      through the 
      <a href="https://gregorconsortium.org/center/university-california-irvine-gregor", _target="blank">UCI-GREGoR center</b> at 
      The University of California, Irvine</a>.
    </p>
    <p>
      The purpose of this research study is to better understand how differences in genetic material affect human health. Research participation is a crucial part of aiding progress in science and medicine. Researchers rely on volunteers who are willing to donate their time, information, genetic data, and biological samples to help further our understanding of rare and undiagnosed diseases.
    </p>
    <p>
      To get started, we invite you to complete the consent process with 
        <a href="https://www.medrxiv.org/content/10.64898/2026.01.30.25342358v1.full" _target="blank">UCI ICTS's Kauro Chatbot</a>.
        Kauro is a <i>scripted</i> chatbot, not A.I. We feel that informed consent is a situation where consistency and clarity are favored, 
        and as a result Kauro's designe ensures no hallucinations or deviation from the pre-approved script.
    </p>
    <p></p>
    <p>You should be able click the button below to activate the chat:</p>
    <p style="text-align: center;">
      <a href="{{ session_slug }}" style="display: inline-block; background-color: #0083b3; color: #fecc07; padding: 10px 20px; text-decoration: none; border-radius: 4px;">Activate Chat</a>
    </p>
    <p>If the button doesn't work, copy and paste the following link into your browser:</p>
    <p><a href="{{ session_slug }}">{{ session_slug }}</a></p>

    <p>
      If you would prefer, our clinical research coordinator, Ivonne Turner, is available to discuss our research program with you.
      To set up a time to review the consent over teams video call (typically takes about 30-45 minutes), and answer any questions you may have please use this link: 
    </p>
    <p><a href="", _target="">Book time with Ivonne Turner: PMGRC Enrollment</a></p>
    <hr>
    <p style="font-size: 0.9em; color: #c6beb5;">If you did not expect this email, you can safely ignore it.</p>
    <p style="font-size: 0.9em;">— The UCI ICTS Kauro Chatbot Team</p>
    <p style="font-size: 0.9em;">UCI Institute for Clinical & Translational Science </p>
    <p style="font-size: 0.9em;"></p>843 Health Science Rd</p>
    <p style="font-size: 0.9em;"></p>Irvine, CA 92697</p>
    <p style="font-size: 0.9em;"></p>icts@uci.edu</p>
  </div>
</body>
</html>
