<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>UCI ICTS' Kauro Chatbot Invitation</title>
</head>
<body style="font-family: Montserrat, sans-serif; color: #1b3d6d; background-color: #f9f9f9; padding: 20px;">
  <div style="max-width: 600px; margin: auto; background-color: #ffffff; border: 1px solid #ddd; padding: 30px;">
    <h2 style="color:#255799;">
      Thank you for your interest in enrolling in our research study
    </h2>
    <p>
      Dear {{ first_name }} {{ last_name }},
    </p>
    <p>Thank you for your interest in enrolling in our research study through the 
      <a href="https://gregorconsortium.org/center/university-california-irvine-gregor", _target="blank">
        UCI-GREGoR center at The University of California, Irvine.
      </a>
    </p>
    <p>
      We would like to share more information about this study, after which you may choose to consent to participate. Participation is fully voluntary.
    </p>
    <p>
      To get started, we invite you to complete the consent process with 
        <a href="https://www.medrxiv.org/content/10.64898/2026.01.30.25342358v1.full" _target="blank">UCI ICTS's Kauro Chatbot</a>.
        Kauro is a <i>scripted</i> chatbot, not A.I. You should be able click the button below to activate the chat:</p>
    <p style="text-align: center;">
      <a href="{{ session_slug }}" style="display: inline-block; background-color: #0083b3; color: #fecc07; padding: 10px 20px; text-decoration: none; border-radius: 4px;">Activate Chat</a>
    </p>
    <p>If the button doesn't work, copy and paste the following link into your browser:</p>
    <p><a href="{{ session_slug }}">{{ session_slug }}</a></p>

    <p>
      You will be given the option to review this information with someone on our enrollment team if preferred. For questions, please email 
      <a href="mailto:GREGoR@hs.uci.edu">
        GREGoR@hs.uci.edu
      </a>
    </p>
    <hr>
    <p style="font-size: 0.9em; color: #c6beb5;">If you did not expect this email, you can safely ignore it.</p>
    <p style="font-size: 0.9em;">Sincerely,</p>
    <p style="font-size: 0.9em;">The UCI GREGoR Team</p>
  </div>
</body>
</html>
