asgiref==3.8.1
Brotli==1.1.0
cffi==1.17.1
chardet==5.2.0
cssselect2==0.8.0
Django==5.1.7
django-cors-headers==4.7.0
django-json-widget==2.0.1
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.0
drf-yasg==1.21.10
fonttools==4.58.4
gunicorn==23.0.0
inflection==0.5.1
packaging==24.2
pillow==11.2.1
psycopg2-binary==2.9.10
pycparser==2.22
pydyf==0.11.0
PyJWT==2.9.0
pyphen==0.17.2
pytz==2025.2
PyYAML==6.0.2
reportlab==4.4.1
shortuuid==1.0.13
sqlparse==0.5.3
tinycss2==1.4.0
tinyhtml5==2.0.0
uritemplate==4.1.1
weasyprint==65.1
webencodings==0.5.1
zopfli==0.2.3.post1
