<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- jQuery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <!-- Materialize CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!-- Materialize JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>Mia Admin</title>
    </head>
    <body id="admin-body">
        <div class="row">
            <!-- Side navigation -->
            <div class="col s2 grey lighten-5" id="admin-sidebar">
                <h5 id="admin-sidebar-title">Admin</h5>
                <ul>
                    <li class="admin-sidebar-item">
                        <i class="small material-icons">home</i>
                        <a href="/admin" class="grey-text text-darken-3">Home</a>
                    </li>
                    <li class="admin-sidebar-item">
                        <i class="small material-icons">people</i>
                        <a href="/admin/users" class="grey-text text-darken-3">Users</a>
                    </li>
                    <li class="admin-sidebar-item">
                        <i class="small material-icons">chat</i>
                        <a href="/admin/scripts" class="grey-text text-darken-3">Scripts</a>
                    </li>
                    <!-- Add other nav items here -->
                </ul>
            </div>
            <div>{% block content %} {% endblock %}</div>
        </div>
            <!-- Add your main.js here -->
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>