{% extends 'admin_base.html' %} {% block content %}

<div class="col s10" id="admin-main-content">
    <h6>Scripts</h6>
    <hr>
    <a id="addUserBtn" class="waves-effect waves-light btn modal-trigger" href="#add-update-script-modal">Add New Script</a>
    <br>
    <br>
    <table class="highlight centered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for script in scripts %}
                <tr>
                    <td>{{ script.name }}</td>
                    <td>{{ script.description }}</td>
                    <td>{{ script.created_at.strftime('%Y-%m-%d') }}</td>
                    <td>
                        <!-- Dropdown Trigger -->
                        <a class='dropdown-trigger btn-small btn-flat user-options-dropdown' href='#' data-target="{{ script.chat_id }}">More options &#x25BC;</a>
                        <!-- Dropdown Structure -->
                        <ul id="{{ script.chat_id }}" class='dropdown-content'>
                            <li><a class="edit-script-btn" href="/admin/scripts/edit_script/{{ script.chat_id }}">Edit script</a></li>
                            <li><a class="edit-script-content-btn" href="/admin/scripts/edit_script_content/{{ script.chat_id }}">Edit script content</a></li>
                            <li><a class="view-script-btn" href="/admin/scripts/view_script_content/{{ script.chat_id }}">View script content</a></li>
                            <li class="divider" tabindex="-1"></li>
                            <li><a href="#delete-confirmation-modal" class="modal-trigger delete-script-link" data-chat-id="{{ script.chat_id }}">Delete script</a></li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- The Add/Update Modal -->
    <div id="add-update-script-modal" class="modal">
        <div class="modal-content">
            <h5 id="modal-title">Add New Script</h5>
            <br>
            <form action="/admin/scripts/add_update_script" method="post">
                <input type="hidden" id="script_id" name="script_id" value="">
                <div class="input-field">
                    <input id="script_name" name="script_name" type="text" class="validate" required autofocus>
                    <label for="script_name">Script Name</label>
                </div>
                <div class="input-field">
                    <input id="script_description" name="script_description" type="text" class="validate" required autofocus>
                    <label for="script_description">Script Description</label>
                </div>
                <button id="modal-submit-btn" class="btn waves-effect waves-light" type="submit">Add Script</button>
            </form>
        </div>
    </div>

    <!-- Delete Confirmation Modal Structure -->
    <div id="delete-confirmation-modal" class="modal">
        <div class="modal-content">
            <h5>Confirm Deletion</h5>
            <p>Are you sure you want to delete this script?</p>
        </div>
            <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect green btn">Cancel</a>
            <a id="delete-confirm-link" href="#" class="modal-close waves-effect red btn">Delete</a>
        </div>
    </div>

</div>
<script>
    $(document).ready(function(){
        $('.modal').modal();
        $('.dropdown-trigger').dropdown({ constrainWidth: false });

        // Click event for the delete script link
        $('.delete-script-link').click(function() {
            // Get chat_id from the clicked link
            var chatId = $(this).data('chat-id');

            // Set the href for the delete confirmation in the modal
            $('#delete-confirm-link').attr('href', "/admin/scripts/delete_script/" + chatId);
        });

        // Update user button click
        $('.edit-script-btn').on('click', function(event) {
            event.preventDefault();
            $.getJSON(this.href, function(data) {
                let scriptId = data.script_id;
                let scriptName = data.script_name;
                let scriptDescription = data.script_description;

                // Set values
                $('#script_id').val(scriptId);
                $('#script_name').val(scriptName);
                $('#script_description').val(scriptDescription);

                // Change modal's title and submit button text
                $('#modal-title').text('Edit Script');
                $('#modal-submit-btn').text('Update Script');

                // Finally, open the modal
                $('#add-update-script-modal').modal('open');
            });
        });

        $('#add-update-script-modal').modal({
            onCloseEnd: function() {
                 // Reset the modal's title and submit button text
                $('#modal-title').text('Add New Script');
                $('#modal-submit-btn').text('Add Script');

                // Clear the form fields
                $('#script_id').val('');
                $('#script_name').val('');
                $('#script_description').val('');
            },
        });
        // Update the Materialize components
        M.updateTextFields();  // To reset the floating labels
    });
</script>
{% endblock %}
