{% extends 'admin_base.html' %} {% block content %}
<div class="col s10" id="admin-main-content">
    <h6>Edit Script - <b>{{ script_name }}</b></h6>
    <hr>
    <a id="downloadScriptBtn" class="waves-effect waves-light btn" data-chat-id="{{ chat_id }}" href="#download-script">Download Script</a>
    <a id="uploadScriptBtn" class="waves-effect waves-light btn modal-trigger" data-chat-id="{{ chat_id }}" href="#upload-modal">Upload Script</a>
    <br><br>
    <div class="row">
        <div class="col s6">
            <ul class="browser-default" style="padding-left: 11.25px;">
                <li>There should only be a single user response for each added message</li>
                <li>Multiple bot responses separated by newline (return) are fine</li>
            </ul>
            <form id="chatForm">
                <select name="type">
                    <option value="bot">Bot</option>
                    <option value="user">User</option>
                </select>
                <label>Message type</label>
                <br><br>

                Messages: <textarea name="messages" required style="width: 100%; height: 150px; padding: 10px;"></textarea><br><br>

                Parent ID (comma separated): <input type="text" id="parent_ids" name="parent_ids" required><br><br>

                <button type="button" class="waves-effect waves-light teal lighten-4 btn-flat" onclick="addMessage()">Add Message</button>
            </form>
        </div>
        <div id="script-entries" class="col s6">
            {% if script %}
                {% for id in script %}
                    <div class="script-entry">
                        <b>Type:</b> {{ script[id].type }}<br>
                        <b>ID:</b> {{ id }}<br>
                        <b>Parent IDs:</b> {{ script[id].parent_ids|join(', ') }}<br>
                        <b>Message:</b><br>
                        {{ script[id].messages|join('<br>')|safe }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div id="upload-modal" class="modal">
      <div class="modal-content">
        <h4>Upload Script</h4>
        <form id="uploadForm" enctype="multipart/form-data">
          <div class="file-field input-field">
            <div class="btn">
              <span>File</span>
              <input type="file" id="scriptFile" accept=".json">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Upload JSON file">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
        <a href="#!" id="confirmUpload" class="waves-effect waves-green btn">Upload</a>
      </div>
    </div>
</div>
<script>
    function addMessage() {
        const formData = $('#chatForm').serialize();
        let currentPath = window.location.pathname;
        let pathParts = currentPath.split('/');
        let uuid = pathParts[pathParts.length - 1];

        $.post("/admin/scripts/edit_script_content/add_message/" + uuid, formData, function(data) {
            // Join the messages with a <br> tag for new lines
            const messagesContent = data.messages.join('<br>');

            // Add the new entry to the entries div
            const newEntry = `
                <div class="script-entry">
                    <b>Type:</b> ${data.type}<br>
                    <b>ID:</b> ${data.id}<br>
                    <b>Parent IDs:</b> ${data.parent_ids || 'None'}<br>
                    <b>Message:</b><br>
                    ${messagesContent}
                </div>
            `;
            $('#script-entries').append(newEntry);

            // Reset the form
            $('#chatForm')[0].reset();

            // Set the parent_id field to the new ID for convenience
            $('#parent_ids').val(data.id);
        });

    }
</script>
<script>
    $(document).ready(function(){
        $('select').formSelect();
        $('#downloadScriptBtn').on('click', function(event) {
            event.preventDefault();
            var chatId = $(this).data('chat-id');

            // Create a form and submit it to trigger file download
            var form = $('<form></form>').attr('action', "/admin/scripts/edit_script_content/download_script/" + chatId).attr('method', 'post');
            $('body').append(form);
            form.submit();
            form.remove();
        });
    });
</script>
<script>
$(document).ready(function(){
    $('.modal').modal();

    $('#confirmUpload').on('click', function() {
        var file = $('#scriptFile')[0].files[0];
        var chatId = $('#uploadScriptBtn').data('chat-id');

        if (file) {
            var reader = new FileReader();
            reader.onload = function(e) {
                var content = e.target.result;

                $.ajax({
                    url: '/admin/scripts/edit_script_content/upload_script/' + chatId,
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({script: content}),
                    success: function(response) {
                        alert(response.message);
                        $('#upload-modal').modal('close');
                        // Optionally, refresh the page to show updated script
                        location.reload();
                    },
                    error: function(xhr, status, error) {
                        alert('Error uploading script: ' + error);
                    }
                });
            };
            reader.readAsText(file);
        } else {
            alert('Please select a file to upload.');
        }
    });
});
</script>
{% endblock %}
